.contact-image {
      width: 100%;
      height:100%;
      opacity:0.8;
}

.profile-image {
      max-width: 105px;
      padding: 5%;
}

.profile-container {
      display: flex;
      flex-wrap: wrap;
}

.profile {
      max-width: 60%;
      min-width: 300px;
      align-items: center;
}

.profile-detail {
      justify-content: center;
}

.contact-us-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

}

.contact-us-main {
      display: flex;
}

.contact-us-right {
      min-width: 300px;
}

.socials {
      display: flex;
      justify-content: space-between;
}

.social-icon {
      display: flex;
      justify-content: center;
}