.login-form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #eee;
  padding: 3rem;
  gap: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
