:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bs-indigo) !important;
}
a.nav-link.active {
  color: var(--bs-indigo) !important;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
  color: lightgray;
}

.sun:hover,
.moon:hover {
  cursor: pointer;
}
